{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro section(sectionTitle, rows, listClass='') %}

  {% if rows | length %}

    <div class="govuk-summary-sectionRows__row">

      {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }}</h2>
      {%  endif %}

      {{ govukSummaryList({
        rows: rows,
        classes: listClass + "govuk-!-margin-bottom-9 ctc-add-to-a-list"
      }) }}

    </div>

  {% endif %}
{% endmacro %}
