<script src="{{ routes.controllers.Assets.versioned("javascripts/application.min.js").url }}"></script>
<script>window.GOVUKFrontend.initAll();window.HMRCFrontend.initAll();</script>
<!--[if !IE]>-->
<script
    src="{{ config.trackingConsentUrl }}"
    id="tracking-consent-script-tag"
    data-gtm-container="{{ config.gtmContainer }}"
    data-language="{{ htmlLang }}">
</script>
<!--<![endif]-->