{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("canNotSendUnloadingRemarks.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("canNotSendUnloadingRemarks.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("canNotSendUnloadingRemarks.message") }}
          <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/new-computerised-transit-system-enquiries" target="_blank" class="govuk-link" rel="noopener noreferrer">{{ messages("canNotSendUnloadingRemarks.contactLink") }}</a>.
        </p>

        <a id="manage-transit-movements" href="{{ arrivalNotifications }}" class="govuk-link">
          {{ messages("canNotSendUnloadingRemarks.linkText")}}
        </a>


      </div>
    </div>
  </div>

{% endblock %}
