{% extends 'error.njk' %}
{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("pageNotFound.title")) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ messages("pageNotFound.heading") }}</h1>
      <p class="govuk-body">{{ messages("pageNotFound.paragraph1") }}</p>
      <p class="govuk-body">{{ messages("pageNotFound.paragraph2") }}</p>
      <p class="govuk-body">{{ messages("pageNotFound.paragraph3Start") }}
        <a href="https://www.gov.uk/new-computerised-transit-system" target="_blank" class="govuk-link" rel="noopener noreferrer">{{ messages("pageNotFound.contactLink") }}</a>.
      </p>

   </div>
  </div>
{% endblock %}