{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}
{% from "macros/section.njk"                       import section as sectionMacro %}

{% block pageTitle %}
  {{ title(messages("checkYourAnswers.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ headingCaption(mrn) }}

        <h1 class="govuk-heading-xl">{{ messages("checkYourAnswers.heading") }}</h1>

        {{ csrf() | safe }}

        {% for section in sections %}
          {{ sectionMacro(section.sectionTitle, section.rows) }}
        {% endfor %}

        <h2 class="govuk-heading-m">{{ messages("checkYourAnswers.confirmation.heading") }}</h2>

        <p class="govuk-body">{{ messages("checkYourAnswers.confirmation.paragraph") }}</p>

        <form action="{{ routes.controllers.RejectionCheckYourAnswersController.onSubmit(arrivalId).url }}" method="post">
          {{ csrf() | safe }}

          {{ govukButton({
            text: messages("site.confirmAndSend"),
            preventDoubleClick: true,
            attributes: {id: "submit"}
          }) }}

         </form>
      </div>
    </div>
  </div>

{% endblock %}
