{% extends "includes/layout.njk" %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}

{% from "macros/title.njk"                         import title %}
{% from "macros/section.njk"                       import section as sectionMacro %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
  {{ title(messages("unloadingSummary.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       {{ headingCaption(mrn) }}

        <h1 class="govuk-heading-xl">
          {{ messages("unloadingSummary.heading") }}
        </h1>

        {% if sealsSection %}
          {% for section in sealsSection %}
            {{ sectionMacro(section.sectionTitle, section.rows) }}
          {% endfor %}
        {% else %}
            <h2 class="govuk-heading-m">{{ messages("unloadingSummary.seals.subheading") }}</h2>
            <p class="govuk-body">{{ messages("unloadingSummary.noSeals") }}</p>
        {% endif %}
        <p class ="govuk-body"><a id="add-seal" href="{{ addSealUrl }}" class="govuk-link"> {{ messages("unloadingSummary.addSeal.link.text") }}</a></p>

        {% for section in sections %}
          {{ sectionMacro(section.sectionTitle, section.rows) }}
        {% endfor %}

        {% if showAddCommentLink %}
          <p class ="govuk-body">
             <a id="add-comment" href="{{ addCommentUrl }}" class="govuk-link"> {{ messages("unloadingSummary.addComment.link.text") }} </a>
          </p>
        {% endif %}

        {{ govukButton({
          text: messages("site.continue"),
          href: redirectUrl,
          attributes: {id:"submit"}
        }) }}

      </div>
    </div>
  </div>

{% endblock %}
