{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("unloadingGuidance.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("unloadingGuidance.heading") }}
        </h1>
        <p class="govuk-body">
          {{messages("unloadingGuidance.para")}}
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>{{ messages("unloadingGuidance.bullet1") }}</li>
          <li>{{ messages("unloadingGuidance.bullet2", mrn) }}</li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href={{pdfUrl}}>{{ messages("unloadingGuidance.pdf")}}</a></p>

        {{ govukButton({
          text: messages("site.continue"),
          href: nextPageUrl,
          attributes: {id:"submit"}
        }) }}
      </div>
    </div>
  </div>

{% endblock %}
