{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}
{% from "macros/section.njk"             import section as sectionMacro %}

{% block pageTitle %}
  {{ title(messages("unloadingRemarksRejection.title")) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("unloadingRemarksRejection.heading") }}
        </h1>

        {% for section in sections %}
          {{ sectionMacro(section.sectionTitle, section.rows) }}
        {% endfor %}

        <p class="govuk-body">
          {{ messages("unloadingRemarksRejection.review") }} <a class="govuk-link" href={{declareUnloadingRemarksUrl}} >{{ messages("unloadingRemarksRejection.newUnloadingRemarks") }}</a>.
        </p>

        <p class="govuk-body">{{ messages("unloadingRemarksRejection.youCan") }}
          <a class="govuk-link" href={{ contactUrl }} target="_blank" rel="noopener noreferrer">{{ messages("unloadingRemarksRejection.contact") }}</a>.
        </p>

      </div>
    </div>
  </div>

{% endblock %}
