.summary-title {
  color: $govuk-link-colour;
}

.summary-text {
  text-decoration: none;
}

.govuk-details__text {
  @extend .govuk-details__text;
  border-left: none;
  padding-left: unset;
  text-decoration: none;
}

.govuk-details__summary {
  @extend .govuk-details__summary;
  border-bottom: 1px solid $govuk-link-colour;
  width: 96%;
}