$govuk-assets-path: "/manage-transit-movements/unloading/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/manage-transit-movements/unloading/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "partials/shame";

.summary-title {
  @extend .govuk-heading-m;
  color: $govuk-link-colour;
}

.summary-text {
  @extend .govuk-details__summary-text;
  text-decoration: none;
}

.govuk-details__text {
  @extend .govuk-details__text;
  border-left: none;
  padding-left: unset;
  text-decoration: none;
}

.govuk-details__summary-text, .summary-text, .accordion-group.field-help>.summary {
  text-decoration: none;
}

.govuk-details__summary {
  @extend .govuk-details__summary;
  border-bottom: 1px solid #1d70b8;
  width: 96%;
}

.block-summary__edit-link {
  @extend .block-summary__edit-link;
  width: 10%;
  text-align: right;
}
