$govuk-assets-path: "/manage-transit-movements-unloading-remarks/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/manage-transit-movements-unloading-remarks/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "partials/page-heading";
@import "partials/header";
@import "partials/shame";
@import "partials/timeout-dialog";

.govuk-summary-list__actions-list-item {
    display: inline-block;
}