$govuk-assets-path: "/manage-transit-movements/unloading/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/manage-transit-movements/unloading/assets/lib/hmrc-frontend/hmrc/assets/";

$govuk-include-default-font-face: false;
@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "partials/declaration_summary";
@import "partials/shame";
